* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.nggak {
  position: absolute;
  top: 9000px;
}

.bro {
  color: transparent;
  position: absolute;
  top: 2300px;
}

body {
  font-family: sans-serif;
  background-color: #202020;
  overflow-x: hidden;
}

/* CSS Navbar */

#home {
  color: transparent;
}

.obj {
  position: absolute;
  color: transparent;
  top: 850px;
}

.nav {
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 9999;
}

Label {
  font-size: 30px;
  color: white;
  display: inline-block;
  position: fixed;
  top: 25px;
  left: 60px;
  z-index: 99999;
}

.ul-navbar {
  display: flex;
  justify-content: end;
  align-items: space-between;
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 999999;
}

.li-navbar {
  margin: 15px;
  list-style-type: none;
}

.a-navbar {
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.a-navbar:hover {
  box-shadow: 15px 20px 6px rgb(9, 226, 161, 0.5),
    -15px -20px 6px rgba(238, 9, 207, 0.5);
  transition: all 0.3s;
}

/* Hamburger Menu CSS */

.kesatuan-hamburger-menu {
  display: none;
}

/* Hamburger Menu END */

/* CSS Navbar END */

/* CSS Content */

.parentContent {
  width: 500px;
  height: 300px;
  position: relative;
  top: 200px;
  left: 180px;
}

.parentContent .Perkenalan {
  color: white;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}

.parentContent .role {
  color: rgb(9, 111, 206);
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  top: 65px;
  font-size: 25px;
}

.parentContent .deskripsi {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 110px;
}

.btn-skill {
  position: absolute;
  top: 220px;
  left: 10px;
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 2px;
  background-color: transparent;
  color: white;
  border: none;
  transition: 0.5s;
  border-radius: 10px;
  z-index: 100;
  cursor: pointer;
}

.btn-talk {
  position: absolute;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid #202020;
  background: #212121;
  color: white;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: normal;
  top: 215px;
  left: 130px;
  z-index: 100;
}

.btn-skill:hover {
  box-shadow: 5px 5px 10px rgb(9, 226, 161, 0.5),
    -4px -2px 10px 3px rgba(238, 9, 207, 0.5);
  transition: all 0.5s;
}

.btn-skill:active {
  background: linear-gradient(
    120deg,
    rgba(238, 9, 207, 0.5),
    rgb(9, 226, 161, 0.5)
  );
}

.btn-talk:hover {
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  transition-delay: 0.6s;
}

.btn-talk span {
  position: absolute;
}

.btn-talk span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
}

.btn-talk:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

.btn-talk span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
}

.btn-talk:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

.btn-talk span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
}

.btn-talk:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

.btn-talk span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
}

.btn-talk:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

.btn-talk:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
}

.btn-talk:active
  span:nth-child(1)
  span:nth-child(2)
  span:nth-child(2)
  span:nth-child(2) {
  transition: none;
  transition-delay: none;
}

.about-us {
  position: absolute;
  top: 950px;
  left: 30px;
  font-size: 50px;
  color: white;
}

.mid {
  position: relative;
  top: 750px;
  width: 500px;
  height: 500px;
  left: 500px;
}

.perkenalan {
  position: absolute;
  color: white;
  font-size: 40px;
  left: 20px;
}

.about-danny {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 70px;
  left: -150px;
  text-align: left;
}

.perkenalan-saeful {
  position: absolute;
  color: white;
  font-size: 40px;
  top: 220px;
  left: 20px;
}

.about-saeful {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 280px;
  left: -150px;
  text-align: left;
}

.perkenalan-rizky {
  position: absolute;
  color: white;
  font-size: 40px;
  top: 420px;
  left: 10px;
}

.about-rizky {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 480px;
  left: -150px;
  text-align: left;
}

/* CSS Content END */

/* CSS PHOTO */

.Photo {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 3;
}

/* Animation CSS */
@keyframes melayang {
  0% {
    top: 400px;
  }
  50% {
    top: 405px;
  }
  100% {
    top: 400px;
  }
}
/* Animation END */

/* Contact CSS */

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.latar {
  width: 100%;
  height: 600px;
  margin-top: 1500px;
  background-color: coral;
}

.background {
  display: flex;
  min-height: 100vh;
  margin-top: 700px;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  position: relative;
  color: rgba(238, 9, 207, 0.5);
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
}
.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button1 {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  margin-right: 100px;
}

.app-form-button2 {
  background: none;
  border: none;
  color: rgb(9, 226, 161, 0.5);
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

/* Contact CSS END */

/* media breakpoint */

@media screen and (max-width: 600px) {
  label {
    left: 20px;
  }

  .ul-navbar {
    width: 200px;
    background: linear-gradient(
      120deg,
      rgba(15, 219, 226, 0.945),
      rgba(162, 10, 201, 0.712)
    );
    flex-direction: column;
    top: 90px;
    right: -10px;
    display: flex;
    transform: translateX(200%);
    transition: all 1s;
  }

  .ul-navbar.slide {
    transform: translateX(0);
  }

  .li-navbar {
    margin: 30px 0 30px 50px;
  }

  .Photo {
    width: 100px;
    height: 100px;
    display: inline-block;
    top: 400px;
    left: -25px;
    animation: melayang 2s ease-in-out infinite;
  }

  .parentContent {
    width: 350px;
    height: 300px;
    top: 150px;
    left: 130px;
  }

  .parentContent .Perkenalan {
    color: white;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
  }

  .parentContent .role {
    color: rgb(9, 111, 206);
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    top: 65px;
    font-size: 20px;
  }

  .parentContent .deskripsi {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 110px;
  }

  .about-us {
    position: absolute;
    top: 1000px;
    left: 205px;
    font-size: 40px;
    color: white;
  }

  .mid {
    position: relative;
    top: 790px;
    width: 300px;
    height: 800px;
    left: 180px;
  }

  .perkenalan {
    position: absolute;
    color: white;
    font-size: 30px;
    left: 20px;
  }

  .about-danny {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 70px;
    left: -40px;
    text-align: left;
  }

  .perkenalan-saeful {
    position: absolute;
    color: white;
    font-size: 30px;
    top: 450px;
    left: 20px;
  }

  .about-saeful {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 520px;
    left: -40px;
    text-align: left;
  }

  .perkenalan-rizky {
    position: absolute;
    color: white;
    font-size: 30px;
    top: 800px;
    left: 20px;
  }

  .about-rizky {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 880px;
    left: -40px;
    text-align: left;
  }

  .kesatuan-hamburger-menu {
    display: block;
    position: fixed;
    top: 30px;
    right: -30px;
    width: 100px;
    height: 60px;
    z-index: 99999;
  }

  .kesatuan-hamburger-menu input {
    position: absolute;
    width: 70px;
    height: 28px;
    top: 1px;
    left: -15px;
    z-index: 999999;
    opacity: 0;
    cursor: pointer;
  }

  .kesatuan-hamburger-menu .hamburger-menu1 {
    position: absolute;
    display: block;
    width: 40px;
    height: 5px;
    background-color: white;
    z-index: 99999;
    transform-origin: 0 0;
    transition: all 0.5s;
  }

  .kesatuan-hamburger-menu .hamburger-menu2 {
    position: absolute;
    display: block;
    width: 40px;
    height: 5px;
    top: 13px;
    background-color: white;
    z-index: 99999;
    transition: all 0.3s;
  }

  .kesatuan-hamburger-menu .hamburger-menu3 {
    display: block;
    position: absolute;
    width: 40px;
    height: 5px;
    top: 25px;
    background-color: white;
    z-index: 99999;
    transform-origin: 0 100%;
    transition: all 0.5s;
  }

  .btn-talk {
    position: absolute;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #202020;
    background: #212121;
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: normal;
    top: 215px;
    left: 160px;
    z-index: 100;
  }

  .btn-skill {
    position: absolute;
    top: 220px;
    left: 30px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 2px;
    background-color: transparent;
    color: white;
    border: none;
    transition: 0.5s;
    border-radius: 10px;
    z-index: 100;
  }
}

/* Hamburger menu animation */

.kesatuan-hamburger-menu input:checked ~ .hamburger-menu1 {
  transform: rotate(45deg) translate(-1px, -1px);
}

.kesatuan-hamburger-menu input:checked ~ .hamburger-menu3 {
  transform: rotate(-45deg) translate(-1px, 0px);
}

.kesatuan-hamburger-menu input:checked ~ .hamburger-menu2 {
  transform: scale(0);
}

/* Hamburger menu animation END */
