* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: #202020;
}

/* CSS Navbar */

#home {
  color: transparent;
}

.obj {
  position: absolute;
  color: transparent;
  top: 800px;
}

.nav {
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 999999;
}

Label {
  font-size: 30px;
  color: white;
  display: inline-block;
  position: fixed;
  top: 25px;
  left: 60px;
}

.ul-navbar {
  display: flex;
  justify-content: end;
  align-items: space-between;
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 999999;
}

.li-navbar {
  margin: 15px;
  list-style-type: none;
}

.a-navbar {
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.a-navbar:hover {
  box-shadow: 15px 20px 6px rgb(9, 226, 161, 0.5),
    -15px -20px 6px rgba(238, 9, 207, 0.5);
  transition: all 0.3s;
}

/* CSS Navbar END */

/* CSS Content */

.parentContent {
  width: 500px;
  height: 300px;
  position: relative;
  top: 200px;
  left: 180px;
}

.parentContent .Perkenalan {
  color: white;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}

.parentContent .role {
  color: rgb(9, 111, 206);
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  top: 65px;
  font-size: 25px;
}

.parentContent .deskripsi {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 110px;
}

.btn-skill {
  position: absolute;
  top: 220px;
  left: 10px;
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 2px;
  background-color: transparent;
  color: white;
  border: none;
  transition: 0.5s;
  border-radius: 10px;
}

.btn-talk {
  position: absolute;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid #202020;
  background: #212121;
  color: white;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: normal;
  top: 215px;
  left: 130px;
}

.btn-skill:hover {
  box-shadow: 5px 5px 10px rgb(9, 226, 161, 0.5),
    -4px -2px 10px 3px rgba(238, 9, 207, 0.5);
  transition: all 0.5s;
}

.btn-skill:active {
  background: linear-gradient(
    120deg,
    rgba(238, 9, 207, 0.5),
    rgb(9, 226, 161, 0.5)
  );
}

.btn-talk:hover {
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  transition-delay: 0.6s;
}

.btn-talk span {
  position: absolute;
}

.btn-talk span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
}

.btn-talk:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

.btn-talk span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
}

.btn-talk:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

.btn-talk span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
}

.btn-talk:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

.btn-talk span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
}

.btn-talk:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

.btn-talk:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
}

.btn-talk:active
  span:nth-child(1)
  span:nth-child(2)
  span:nth-child(2)
  span:nth-child(2) {
  transition: none;
  transition-delay: none;
}

.about-us {
  position: absolute;
  top: 950px;
  left: 30px;
  font-size: 50px;
  color: white;
}

.mid {
  position: relative;
  top: 750px;
  width: 500px;
  height: 500px;
  left: 500px;
}

.perkenalan {
  position: absolute;
  color: white;
  font-size: 40px;
  left: 20px;
}

.about-danny {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 70px;
  left: -150px;
  text-align: left;
}

.perkenalan-saeful {
  position: absolute;
  color: white;
  font-size: 40px;
  top: 220px;
  left: 20px;
}

.about-saeful {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 280px;
  left: -150px;
  text-align: left;
}

/* CSS Content END */

/* CSS PHOTO */

.Photo {
  position: absolute;
  right: 100px;
  top: -80px;
  z-index: 3;
}

.shape1 {
  width: 100px;
  height: 100px;
  background-color: green;
  position: absolute;
  top: 150px;
  right: 200px;
  border-radius: 100px;
  z-index: 1;
}

.shape2 {
  width: 300px;
  height: 100px;
  background-color: blue;
  position: absolute;
  top: 500px;
  right: 170px;
  border-radius: 0px 0 50px 50px;
  z-index: 4;
}

.shape3 {
  width: 400px;
  height: 20px;
  background-color: red;
  position: absolute;
  top: 320px;
  right: 100px;
}
